.navbar-bg-color {
    background-color: #120806 !important;
}
.header-bg-color {
    background-color: #120806 !important;
}
.footer-bg-color {
    background-color: #120806 !important;
}
.email-bg-color {
    background-color:#120806 !important;
}
.bg-news{
    background-color: #77441f !important  ;
}
.btn-bg-color{
    background-color: #120806 !important;
}
